language: node_js
node_js:
  - '12'
install:
  - npm install -g codecov
script:
  - npm install
  - npm run lint
  - npm run test:coverage --runInBand --no-cache
  - npm run test --runInBand --no-cache
  - codecov
cache:
  directories:
    - node_modules