@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.not-found {
    border: solid 1px $color-primary;
    padding: 1em;
    margin-bottom: 2em;

    &__title {
        margin: 0;
    }

    &__body {
        margin-bottom: 0;
    }
}